:host {
    display: block;
}

.container {
    background-color: #eee;
}

.collapse-item {
    padding: 0 15px;
    background-color: #fff;
}

.collapse-item-tab {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    color: #333;
    font-size: 16px;
    line-height: 24px;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
}

.collapse-item-panel {
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 0px;
    overflow: hidden;
    color: #aaa;
    font-size: 16px;
    line-height: 24px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #222;
    transition: height 0.4s linear;
    -webkit-transition: height 0.4s linear;
    -moz-transition: height 0.4s linear;
    -ms-transition: height 0.4s linear;
    -o-transition: height 0.4s linear;
}

.collapse-item-panel-show {
    height: 60px;
    border-bottom: 1px solid #dbdbdb;
}

.collapse-item-panel span {
    margin: 10px 0;
}

.collapse-title {
    flex: 1;
}

.collapse-icon {
    margin-left: 5px;
    margin-right: 10px;
    color: #969799;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    display: inline-block;
    position: relative;
}