.gls-layout {
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 0;
    background: #f6f6f6;
    flex: auto;
}

.gls-layout-row {
    flex-direction: row;
}

.gls-layout-sider {
    color: #fff;
    line-height: 120px;
    background: var(--color-primary-lv3);
    position: relative;
    padding-inline: 30px;
    width: 140px;
    flex: 0 0 140px;
}

.gls-layout-header {
    height: 60px;
    line-height: 60px;
    padding-inline: 50px;
    background-color: var(--color-primary-lv2);
}

.gls-layout-main {
    flex: auto;
    box-sizing: border-box;
    min-height: 120px;
    padding-inline: 50px;
    color: var(--color-primary);
    line-height: 120px;
    background: var(--color-primary-lv1);
    font-size: 14px;
}

.gls-layout-footer {
    padding: 24px 50px;
    line-height: 1.5;
    color: #fff;
    background: var(--color-primary-lv4);
}

.gls-dev-content {
    container-type: inline-size;
    container-name: midline
}

@container midline (max-width:500px) {
    .gls-layout-sider {
        display: none
    }
}