:host {
    display: inline-block;
}

.gls-tag {
    background-color: #ecf5ff;
    display: inline-block;
    height: 32px;
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
    color: #409eff;
    border: 1px solid #d9ecff;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
}

.gls-tag-primary {
    background-color: #edf0ff;
    border-color: #c4cdff;
    color: #2022ff;
}

.gls-tag-success {
    background-color: #f6ffed;
    border-color: #d9f7be;
    color: #52c41a;
}

.gls-tag-info {
    background-color: #cccccc;
    border-color: #bfbfbf;
    color: #8c8c8c;
}

.gls-tag-warning {
    background-color: #fffbe6;
    border-color: #fff1b8;
    color: #faad14;
}

.gls-tag-danger {
    background-color: #fff2f0;
    border-color: #fff1f0;
    color: #ff4d4f;
}

.tag-cross {
    margin-left: 5px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -3px;
    right: -3px;
}