:host {
    display: block;
}

.gls-link {
    font-size: 14px;
    display: inline-block;
}
.gls-link:visited{
    //color: gray;
}

.gls-link-default {
    color: var(--color-first);
    
}

.gls-link-primary {
    color: #409eff;
}

.gls-link-success {
    color: #67c23a;
}

.gls-link-warning {
    color: #e7a543;
}

.gls-link-danger {
    color: #f78989;
}

.gls-link-u{
    text-decoration: underline;
}

.gls-link-n{
    text-decoration: none;
}